*{
    margin: 0;
    padding: 0%;
}

h1 {
    color: black;
    text-align: center;
}

.navbar {
    text-align: center;
}

li {
    display: inline;
}

.container {
    justify-content: center;
}

.gallery {
    align-items: start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.gallery img {
    padding: 10px;
    height: 100px;
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.dropdown {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.dropbtn {
    font-size: inherit; 
    background-color: inherit;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
}

.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content{
    display: block;
    background-color: red;
}

.dropdown-content a {
    display: block;
    text-align: center;
}