*{
    margin: 0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fcfcfc;
    color: #222222;
}

h1 {
    display: flex;
    width: 100%;
    padding: 50px 0px 25px 0px;
    justify-content: center;
    color: inherit;
    /* background-color: yellow; */
}

#title {
    padding: 100px 0px 70px 0px;
    font-size: 50px;
    text-align: center;
    letter-spacing: 6px;
    font-weight: 900;
    /* background-color: bisque; */
}

.navbar {
    display: flex;
    justify-content: center;
    /* background-color: lightblue; */
    padding: 0px 0px 45px 0px;
}

.navbar_menu {
    display: flex;
    /* background-color: beige; */
    font-size: 16px;
}

.navbar_menu a{
    color: #a6a6a6;
    padding: 0px 30px;
    text-decoration: none;
}

.navbar_menu a:hover {
    color: #222222;
    transition-duration: 0.3s;
}

.dropdown {
    display: inline-block;
    overflow: hidden;
    padding: inherit;
}

.dropbtn {
    padding: 0px 30px;
    font-size: inherit; 
    border: none;
    outline: none;
    font-family: inherit;
    color: #a6a6a6;
    /* background-color: red; */
}

.dropdown-content {
    z-index: 9999;
    position: absolute;
    display: none;
    padding-top: 5px;
}

.dropdown:hover .dropdown-content{
    display: flex;
    flex-direction: column;
}

.dropdown-content a {
    /* background-color: orange; */
    padding: 10px 0px;
    text-align: center;
    width: 200px;
    background-color: #d1d1d1;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
    margin-bottom: 25px;
}

.gallery {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    min-width: 1000px;
    /* background-color:purple; */
    flex-wrap: wrap;
    align-self: center;
}

.gallery img {
    /* background-color: red; */
    padding-bottom: 45px;
    width: 300px;
    height: 300px;
    object-fit: cover;  /* image filles box */
}

.image_wrapper {
    /* background-color: blue; */
    display: flex;
    position: relative;
}

.overlay {
    display: flex;
    align-self: end;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
    width: 100%;
    background-color: #d1d1d1;
    opacity: 100%;
    text-align: center;
    font-size: 16px;
    height: 60px;
}

.content {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 1000px;
    min-width: 1000px;
    /* background-color:purple; */
    align-self: center;
    justify-content: center;
}

.content embed {
    padding-top: 30px;
}

#headshot_image {
    /* background-color: olivedrab; */
    padding-right: 40px;
    width: 300px;
    height: 300px;
}

.words {
    font-size: 16px;
    /* background-color: aqua; */
    line-height: 24px;
}

p {
    margin-bottom: 2em;
}