*{
    margin: 0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: black;
    text-align: center;
    background-color: yellow;
}

#title {
    padding: 100px 0px 50px 0px;
    font-size: 50px;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: lightblue;
    padding: 0px 0px 30px 0px;
}

.navbar_menu {
    display: flex;
    background-color: beige;
    font-size: 20px;
}

.navbar_menu a{
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
}

.navbar_menu .dropbtn{
    padding-left: 10px;
    padding-right: 10px;
}

.container {
    display: flex;
    justify-content: center;
    background-color: red;
}

.gallery {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    min-width: 1000px;
    background-color:purple;
    flex-wrap: wrap;
}

.gallery img {
    padding: 10px;
    width: 300px;
    height: 300px;
    object-fit: cover;  /* image filles box */
}

.dropdown {
    display: inline-block;
    overflow: hidden;
}

.dropbtn {
    position: relative;
    padding: inherit;
    font-size: inherit; 
    background-color: inherit;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
}

.dropdown-content {
    position: absolute;
    display: none;
    justify-content: center;
}

.dropdown:hover .dropdown-content{
    display: flex;
    flex-direction: column;
}

.dropdown-content a {
    background-color: orange;
    justify-content: center;
    padding: 20px 0px;
}

.content {
    text-align: left;
    line-height: 175%;
    width: auto;
    padding-inline: 100px;
    padding-top: 100px;
}

.content img{
    width: 300px;
    height: 300px;
    display: inline-block;
}