*{
    margin: 0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fcfcfc;
    color: #222222;
}

h1 {
    display: flex;
    width: 100%;
    padding: 50px 0px 25px 0px;
    justify-content: center;
    color: inherit;
    /* background-color: yellow; */
}

ul {
    list-style-type: disc;
    list-style-position: inside;
    line-height: 150%;
}

ul span {
    padding-left: 1em;
}

span {
    background-color: inherit;
}

#title {
    padding: 100px 0px 70px 0px;
    font-size: 50px;
    text-align: center;
    letter-spacing: 6px;
    font-weight: 900;
    /* background-color: bisque; */
}

#index {
    color: #222222;
}

#aboutme {
    color: #222222;
}

#resume {
    color: #222222;
}

.navbar_holder {
    display: flex;
    justify-content: center;
    /* background-color: lightblue; */
    padding: 0px 0px 45px 0px;
}

.navbar {
    display: flex;
    /* background-color: beige; */
    font-size: 16px;
}

.navbar a{
    color: #a6a6a6;
    padding: 0px 30px;
    text-decoration: none;
}

.navbar a:hover {
    color: #222222;
    transition-duration: 0.3s;
}

.dropdown {
    display: inline-block;
    overflow: hidden;
    padding: inherit;
}

.dropbtn {
    padding: 0px 30px;
    font-size: inherit; 
    border: none;
    outline: none;
    font-family: inherit;
    color: #a6a6a6;
}

.dropdown-content {
    z-index: 9999;
    position: absolute;
    display: none;
    padding-top: 5px;
}

.dropdown:hover .dropdown-content{
    display: flex;
    flex-direction: column;
}

.dropdown-content a {
    /* background-color: orange; */
    padding: 10px 0px;
    text-align: center;
    width: 200px;
    background-color: #d1d1d1;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
}

.gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    width: 75%;
    /* background-color:purple; */
    flex-wrap: wrap;
    align-self: center;
    grid-row-gap: 30px;
}

.gallery img {
    width: 300px;
    height: 300px;
    object-fit: cover;  /* image filles box */
}

.image_wrapper {
    /* background-color: blue; */
    display: flex;
    position: relative;
}

.overlay {
    display: flex;
    align-self: end;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #d1d1d1;
    opacity: 100%;
    text-align: center;
    font-size: 16px;
    height: 60px;
    text-decoration: none;
}

.content {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 1000px;
    min-width: 1000px;
    /* background-color:purple; */
    align-self: center;
    justify-content: center;
}

.content embed {
    padding-top: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    column-gap: 10px;
}

.grid img {
    max-width: 100%;
    justify-self: right;
}

.grid video {
    justify-self: center;
    width: 800px;
    height: 500px; 
    padding-bottom: 2em;
}

#headshot_image {
    padding-right: 40px;
    width: 300px;
    height: 300px;
}

.span_quarter {
    grid-column: span 3;
}

.span_onethird {
    grid-column: span 4;
}

.span_seven {
    grid-column: span 7;
}

.span_five {
    grid-column: span 5;
}

.span_twothirds {
    grid-column: span 8;
}

.span_half {
    grid-column: span 6;
}

.span_all {
    grid-column: span 12;
}

.two_images {
    display: flex;
    height: 400px;
    justify-content: space-around;
    margin-bottom: 1em;

}

.subsection {
    padding-top: 30px;
    padding-bottom: 1em;
}

.grid iframe {
    justify-self: center;
    margin-bottom: 2em;
}

figcaption {
    text-align: center;
    font-style: italic;
}

p {
    margin-bottom: 2em;
    font-size: 16px;
    line-height: 24px;
}